[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
numpy = "*"
requests = "*"
mlflow = "*"
setuptools = "*"
optuna = "*"
boto3 = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"
ipywidgets = "*"
jupyter = "*"
apache-airflow = "==3.0.3"
pre-commit = "*"

[requires]
python_version = "3.12"
