[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "1.7.1"
pandas = "2.3.1"
numpy = "2.3.2"
requests = "2.32.4"
mlflow = "3.1.4"
setuptools = "80.9.0"
optuna = "4.4.0"
boto3 = "1.40.2"

[dev-packages]
ipykernel = "6.30.0"
matplotlib = "3.10.3"
ipywidgets = "8.1.7"
jupyter = "1.1.1"
apache-airflow = "==3.0.3"

[requires]
python_version = "3.12"
